<kendo-grid [data]="apiService?.dataAlert" [sortable]="true">
  <kendo-grid-column field="type" title="Typ">
  </kendo-grid-column>
  <kendo-grid-column field="data_date" title="Data pomiaru">
  </kendo-grid-column>
  <kendo-grid-column field="value" title="Średni puls">
  </kendo-grid-column>
</kendo-grid>