@import "~@progress/kendo-theme-default/scss/all";
@import "~bootstrap/dist/css/bootstrap.css";

.ui-widget {
    font-size: 13px !important;
    font-family: Arial,Helvetica,sans-serif !important;
}

body {
    overflow: auto;
}

element.style {
    overflow-y: hidden !important; 
}

.container-center{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.number-in-circle {
    border-radius: 50%;
    width: 22px;
    height: 22px;
    padding: 2px;

    background: #ff6358;
    border: 2px solid white;
    color: white;
    text-align: center;
    font: 13px Arial, sans-serif;

    position: absolute;
    top: 3%;
    right:1%;
}

#notification {
    position: fixed;
    z-index: 6001;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 2.5;
    overflow: hidden; 
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;       
}

.info {
  color: #00529B;
  background-color: #BDE5F8;
}
.success {
  color: #4F8A10;
  background-color: #DFF2BF;
}
.warning {
  color: #9F6000;
  background-color: #FEEFB3;
}
.error {
  color: #D8000C;
  background-color: #FFBABA;
}

.cssanimations.csstransforms #notification {       
    transform: translateY(-50px);
    animation-name: slideDown;
    animation-iteration-count: 1;
    animation-duration: 5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes slideDown {
    0%, 100% { transform: translateY(-50px); }
    10%, 90% { transform: translateY(0px); } 
}

//tlo tytulu popupow
.k-dialog-titlebar {
    background: #919191;
    color: white;
}

//tlo ktorym leza komponenty
.k-content, .k-window, .k-spreadsheet-filter-menu .k-spreadsheet-value-treeview-wrapper, 
.k-editor, .k-scheduler-agendaview tr.k-state-hover .k-scheduler-datecolumn, .k-notification {
    background-color: #f0f0f0;
}

//kolor tla zaznaczenia wiersza
.k-grid .k-state-selected  {
  background-color: #969696 !important;
  color: black !important;
}
 
//kolor tla zaznaczenia wiersza
.k-grid .k-alt.k-state-selected {
  background-color: #969696 !important;
  color: black !important;
}

//kolor czcionki numeru stron
.k-pager-numbers .k-link, .k-pager-numbers .k-link:link {
    color: #292b2c;
}

.k-widget ::selection, .k-block ::selection {
    background-color: #c0bfbe !important;
}

kendo-tabstrip.on-basic-data-tab-error ul.k-tabstrip-items li.k-item.ng-tns-c2-0#k-tabstrip-tab-0,
kendo-tabstrip.on-nfz-data-tab-error ul.k-tabstrip-items li.k-item.ng-tns-c2-0#k-tabstrip-tab-1,
kendo-tabstrip.on-address-data-tab-error ul.k-tabstrip-items li.k-item.ng-tns-c2-0#k-tabstrip-tab-2{
    background: #ff6a60;
    color:white;
} 

kendo-tabstrip.normal-tab ul.k-tabstrip-items li.k-item.ng-tns-c2-0 {
    padding: 1px 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-width: 2px;
} 

.k-tabstrip-top > .k-tabstrip-items .k-item.k-state-active {
    border-bottom-color: grey;
    background-image: linear-gradient(#ededed, #e8e8e8);
    border-bottom-width: 3px
}

.k-tabstrip .k-item:hover, .k-tabstrip .k-item.k-state-hover {
    color: black;
    border-color: #dbdbdb;
    border-width: 2px;
    background-color: #eeeeee;
}

.k-tabstrip .k-item:default, .k-tabstrip .k-item.k-state-default {
    border-color: #dbdbdb;
    border-width: 0.5px;
    background-color: white;
}

.k-tabstrip .k-item {
    color: black;
    background-color: white;
}

.k-checkbox:checked + .k-checkbox-label::before {
    background-color: white!important;
    color: #444444;
    border-color: grey;
    border-width: 2px;
}

.k-checkbox:checked + .k-checkbox-label::after {
    color: #444444 !important;
    background-color: white !important;
    border-color: grey;
    border-width: 2px;
}

.k-checkbox:checked.k-state-focused.k-state-selected {
    color: #444444 !important;
    background-color: white !important;
    border-color: grey;
    border-width: 2px;
}

//kolor selectu z dropdown list
.k-item.k-state-focused.k-state-selected {
    background-color: #c0bfbe;
}
//kolor selectu z dropdown list
.k-item.k-state-focused.k-state-selected:hover {
    background-color: #c0bfbe;
}

.k-tabstrip>.k-content{
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.00);
    border-color: rgba(0, 0, 0, 0.08);
}

.head *,
.head *:before,
.head *:after {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.tablist {
    box-sizing: content-box !important;
}

// usunięcie filtru powoduje przeładowanie strony
.k-clear-button-visible {
    visibility: hidden !important; 
}

.k-checkbox:checked + .k-checkbox-label::after {
    outline: 3px solid grey !important;
}

//kolor obramowania checkboxow
.k-checkbox-label::before, .k-radio-label::before {
    outline: 3px solid grey !important;
}