html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 100%;
	color: #191919;
}

div.site {
	margin: 0;
	padding: 0;
	min-height: 100%;
	clear: both;
}

div.top {
    position: relative;
    padding: 5px;
    margin: 0px 10px 10px 10px;
    min-width: 1000px;
    min-height:32px;
}
div.top_left {
	float: left;
}
div.top_right {
	float: right;
}
#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 0px;
    margin: 24px 10px 0 10px;
	height: 24px;
	min-width: 1010px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.content{
	min-width: 1020px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

.searchAutocomplete {
	
}
.searchAutocomplete_PATIENT {
	
}
.searchAutocomplete_EXAMINATION {
	margin-left: 15px;
}

.selectedViewDefinition {
	font-weight: bold;
}
.dynamicColumns {
	float: right;
}
.ui-picklist-source .filterDefaultValue{
	display:none;
}
.table50{
	width:50%;
	vertical-align:top;
}
.table60{
	width:60%;
	vertical-align:top;
}
.table40{
	width:40%;
	vertical-align:top;
}
.importantMessage{
	color: #FF0000;
}

table.audioRecords td {
	vertical-align: top;
}
table.technicianData td {
	padding-right: 7px;
}
table.examinationMaterialGrid td{
	width: 100px;
}
table.examinationMaterialGrid td + td{
	width: 100px;
}
table.examinationMaterialGrid td + td + td{
	width: 50px;
}