@charset "utf-8";
/* CSS Document */

html
{
	margin:0;
	padding:0;
	height:100%;
}

body
{
	margin:0;
	padding:0;
	background: url(../resources/images/bg.png) 0 0 repeat-x #dcdcdc;
	font-family:Arial, Helvetica, sans-serif !important; 
	height:100%;
	color:#3c4850;
}

*{margin:0; padding:0;}

fieldset{border:none;}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.content
{
	width:100%;
	margin:0 auto;
	min-width:1024px;
}

.head
{
	height:65px;
	background:url(../resources/images/srch-bg2.png) right 0 no-repeat;
	clear:both;
	
}

.logo{
	padding:13px 0 0 44px;
	float:left;
	height:35px;
	width:73px;
	background:url(../resources/images/logo-bg.png) 0 0 no-repeat;
}

.menu{
	/*height:46px;*/
	float:left;
}

.headnav{
	list-style:none;
	background:url(../resources/images/head-split.png) right 0 no-repeat;
	padding-right:2px;
	overflow:hidden;
}

.headnav>li{
	display:table;
	float:left;
	height:46px;
	font-size:14px;
	font-weight:bold;
	color:#fff;
}

.headnav>li>a{
	display:table-cell;
	vertical-align:middle;
	text-decoration:none;
	color:#fff;
	text-shadow: 0 1px #000;
	padding:0 20px;
	height:32px;
}

.headnav>li.act,
.headnav>li.act:hover{
	background:url(../resources/images/head-act.png) 0 0 repeat-x;
}

.headnav>li:hover{
	background:url(../resources/images/head-ro.png) 0 0 repeat-x;
}

.headnav>li>a{
	background:url(../resources/images/head-split.png) 0 0 no-repeat;
}

.qsearch{
	width:285px;
	float:right;
	padding-top:10px; 
	position:relative;
	/*z-index: 500;*/
}

.searchsub{
	cursor:pointer;
	height:24px;
	width:24px;
	/*vertical-align:top;*/
	border:none;
	background:url(../resources/images/but-search.png) center center no-repeat;
}

.asearchsub{
	cursor:pointer;
	height:24px;
	width:24px;
	/*vertical-align:top;*/
	border:none;
	background:url(../resources/images/but-asearch.png) center center no-repeat;
}

.msgbox{
	padding-top:14px;
	padding-right:30px;
	height:32px;
	font-size:14px;
	font-weight:bold;
	text-shadow: 0 1px #000;
	color:#fff;
	text-align:right;
}

.exp{
	text-decoration:none;
	color:#fff;
	padding-right:14px;
	background:url(../resources/images/arr-down.png) right 7px no-repeat;
}

.msgc{
	margin-left:7px;
	float:right;
	width:24px;
	height:17px;
	background:url(../resources/images/koperta.png) 0 0 no-repeat;
	position:relative;
}

.toptabs{
	/*padding:0 30px;
	margin: 8px auto 0 auto;
	height:31px;
	min-width:1220px;
	clear:both;*/
	margin: 0 auto 0 80px;
	height:31px;
	min-width:900px;
	clear:both;
	position:relative;
	/*width:100%;*/
}

.butsl+.butsl{ 
	margin-left:3px;
}

.tablnav{
	/*padding-top:9px;
	padding-left:60px;
	width:33px;
	float:left;*/
	padding-top:9px;
	position:absolute;
	top:0;
	left:30px;
}
.tabmnav{
	height:inherit;
	width:100%;
	margin-right:5px;
	position: relative;
}

.tabnm{
	padding-right:7px;
}

.tabmnavact{
	background-image:url(../resources/images/toptab-act-bg.png);
}
.tabmnavact>a.tabnm{
	font-weight: bold;
}
.tabmnavchanged{
	background-image:url(../resources/images/toptab-bg-changed.png);
	
}
.tabmnavchanged>a.tabnm{
	font-style: italic;
}

.t2nav>li>div.tab2mnavchanged .t2rb{
	background:url(../resources/images/t2tab-changed-rb.png) 0 bottom no-repeat;
	
}
.t2nav>li>div.tab2mnavchanged .t2lb{
	background:url(../resources/images/t2tab-changed-lb.png) 0 bottom no-repeat;
}
.t2nav>li>div.tab2mnavchanged>a{
	background:url(../resources/images/t2tab-changed-bg.png) 0 bottom repeat-x;
	font-style: italic;
}

.t2nav>li>div.tab2mnavact .t2rb{
	background:url(../resources/images/t2tab-act-rb.png) 0 bottom no-repeat;
}
.t2nav>li>div.tab2mnavact .t2lb{
	background:url(../resources/images/t2tab-act-lb.png) 0 bottom no-repeat;
}
.t2nav>li>div.tab2mnavact>a{
	background:url(../resources/images/t2tab-act-bg.png) 0 bottom repeat-x;
	font-weight:bold;
	color:#3c4850;
}

.tabrnav{
	padding-top:9px;
	white-space:nowrap;
	position:absolute;
	right:50px;
	top:0;
}

.tabrnav a{
	text-decoration: none;
}

.ttnav{ /* modyfikacja 13 06 2012 */
	overflow:hidden;
	position:absolute;
	left:58px;
	right:100px;
}

.butsl{
	float:left;
	text-decoration:none;
	width:18px;
	height:18px;
}

.butsl.left{
	background:url(../resources/images/butslidel.png) 0 0 no-repeat;
}

.butsl.left:hover{
	background:url(../resources/images/butslidel-ro.png) 0 0 no-repeat;
}

.butsl.right{
	background:url(../resources/images/butslider.png) 0 0 no-repeat;
}

.butsl.right:hover{
	background:url(../resources/images/butslider-ro.png) 0 0 no-repeat;
}

.butsl.down{
	background:url(../resources/images/butslideb.png) 0 0 no-repeat;
}

.butsl.down:hover{
	background:url(../resources/images/butslideb-ro.png) 0 0 no-repeat;
}

.butsl+.butsl{
	margin-left:6px;
}

.tablist{
	/*padding-top:4px;
	float:left;
	margin-left:-5px;
	list-style:none;
	height:27px;
	overflow:hidden;*/
	padding-top:4px;
	list-style:none;
	height:27px;
	overflow:hidden;
	
}

.tablist>li{
	/*display:table;
	float:left;
	text-align:center;
	white-space:nowrap;
	color:#646464;*/
	/*text-shadow: 0 1px #fff;*/
	/*font-size:13px;
	border:1px solid #fff;
	border-bottom:none;
	height:26px;
	vertical-align:middle;
	background:url(../resources/images/toptab-bg.png) 0 0 repeat-x;*/
	display:table;
	float:left;
	text-align:center;
	color:#646464;
	text-shadow: 0 1px #fff;
	font-size:13px;
	border:1px solid #fff;
	border-bottom:none;
	height:27px;
	vertical-align:middle;
	background:url(../resources/images/toptab-bg.png) 0 0 repeat-x;
}

.tablist>li.act,
.tablist>li.act .tabnm,
.tablist>li .tabnm:hover{
	color:#3c4850;
}

.tablist>li.act{
	background-image:url(../resources/images/toptab-act-bg.png);
	box-shadow:0px 1px 10px -2px #c8c8c8;
}

.tablist>li a, .tablist>li>span{
	
	/*display:inline-block;*/
	line-height:26px;
	vertical-align:middle;
	text-decoration:none;
	color:#646464;
	text-shadow:none;
}

.tablist>li+li{
	margin-left:5px;
}

.tabcls{
	background:url(../resources/images/tabclose.png) center center no-repeat;
	width:12px;
	padding:0 10px;
}

.tabcls:hover{
	background-image:url(../resources/images/tabclose-ro.png);
}

.ico{
	padding:3px 0 2px 18px;
	margin-right:3px;
	line-height:20px;
	background-image:url(../resources/images/toptab-ico.png);
	background-repeat:no-repeat;
}

.ico.admin{
	background-position:0 0;
}

.tablist>li.act .ico.admin,
.tablist>li .tabnm:hover .ico.admin{
	background-position: right 0;
}

.ico.raporty{
	background-position:0 -21px;
}

.tablist>li.act .ico.raporty,
.tablist>li .tabnm:hover .ico.raporty{
	background-position: right -21px;
}

.ico.p_pacj{
	background-position:0 -42px;
}

.tablist>li.act .ico.p_pacj,
.tablist>li .tabnm:hover .ico.p_pacj{
	background-position: right -42px;
}

.ico.p_badan{
	background-position:0 -63px;
}

.tablist>li.act .ico.p_badan,
.tablist>li .tabnm:hover .ico.p_badan{
	background-position: right -63px;
}

.ico.pacjent{
	background-position:0 -84px;
}

.tablist>li.act .ico.pacjent,
.tablist>li .tabnm:hover .ico.pacjent{
	background-position: right -84px;
}

.ico.wyniki{
	background-position:0 -105px;
}

.tablist>li.act .ico.wyniki,
.tablist>li .tabnm:hover .ico.wyniki{
	background-position: right -105px;
}

.ico.lista{
	background-position:0 -126px;
}

.tablist>li.act .ico.lista,
.tablist>li .tabnm:hover .ico.lista{
	background-position: right -126px;
}

.ico.n_pacjent{
	background-position:0 -147px;
}

.tablist>li.act .ico.n_pacjent,
.tablist>li .tabnm:hover .ico.n_pacjent{
	background-position: right -147px;
}

.ico.pusty{
	background-position:0 -168px;
}

.tablist>li.act .ico.pusty,
.tablist>li .tabnm:hover .ico.pusty{
	background-position: right -168px;
}

.ico.cennik{
	background-position:0 -189px;
}

.tablist>li.act .ico.cennik,
.tablist>li .tabnm:hover .ico.cennik{
	background-position: right -189px;
}

.danec{
	clear:both;
	overflow:hidden;
	display:table;
	width:100%;
}

.danec>div{
	vertical-align:top;
}

.leftb{
	width:55px;
	background:url(../resources/images/leftb.png) 0 -20px no-repeat;
	display:table-cell;
}

.leftb2{
	width:55px;
	background:url(../resources/images/leftb2.png) 0 top no-repeat;
	display:table-cell;
}

.leftb ul{
	width:35px;
	margin-left:20px;
	padding-top:20px;
	list-style:none;
	float:right;
}

.leftb ul.patient-icons{
	padding-top:2px;
}

.leftb ul li{
	width:35px;
	height:24px;
	margin-bottom:0px;
	clear:both;
}

.rightb{
	width:34px;
	background:url(../resources/images/rightb.png) 0 -20px no-repeat;
	display:table-cell;
}

.rightb ul{
	padding-top:20px;
	list-style:none;
	float:left;
}

.rightb ul li{
	width:20px;
	height:24px;
	margin-bottom:2px;
	clear:both;
}

.rightb2{
	width:34px;
	background:url(../resources/images/rightb2.png) 0 0 no-repeat;
	display:table-cell;
}

.daneb{
	background:url(../resources/images/dane-bg.png) 0 -20px repeat-x;
	height:70px;
}

.daneb2{
	background:url(../resources/images/dane2-bg.png) 0 0 repeat-x;
	height:90px;
}

.danehead{
	padding:17px 80px 0 30px;
}

.daneleft{
	padding:17px 80px 0 30px;
	overflow:hidden;
	background:url(../resources/images/dane-rarr1.png) right 9px no-repeat;
	float:left;
	height:54px;
}

.daneExamDetails{
	padding:0px 5px 0 38px;
	overflow:hidden;
	background:url(../resources/images/dane-rarr1.png) left top no-repeat;
	float:left;
	height:54px;

}

.daneright{
	padding:10px 0 0 0;
	overflow:hidden;
}

h1{
	margin-bottom:15px;
	font-size:21px;
	font-weight:bold;
}

.danename{
	margin-bottom:1px;
	font-size:25px;
	font-weight:bold;
	
}
.danename>a{
	text-decoration: none;
	color: #000;
}

h1+.elblock{
	margin-top:48px;
}

.danedata{
	font-size:15px;
	line-height:25px;
	white-space:nowrap;
}

.dlabel{
	color:#919191;
	padding-right:5px;
}

.ddata{
	padding-right:15px;
	font-weight:bold;
	text-decoration: none;
	color: #3C4850;
}

.toptabs2{
	display:table;
	width:100%;
	height:40px;
}

.t2leftb{
	width:34px;
	background:url(../resources/images/leftb.png) 0 bottom no-repeat;
	display:table-cell;
}

.t2tab{
	background:url(../resources/images/dane-bg.png) 0 bottom repeat-x;
	display:table-cell;
	height:40px;
	vertical-align:top;
}

.t2rightb{
	width:34px;
	background:url(../resources/images/rightb.png) 0 bottom no-repeat;
	display:table-cell;
}

.t2nav{
	list-style:none;
	height:40px;
	margin-left:13px;
	overflow:hidden;
}

.t2nav>li{
	float:left;
	font-size:14px;
	padding-top:0px;
	height:40px;
	position:relative;
	color:#646464;
	/*text-shadow: 0 1px #fff;*/
}

.t2nav>li+li{
	margin-left:-22px;
}
.t2nav>li.ExaminationReferralControllertabClass+li{
	margin-left:0px;
}

.t2nav>li>div>a{
	text-decoration:none;
	display:table-cell;
	vertical-align:middle;
	color:#646464;
	padding:8px 6px 0 12px;
	height:32px;
	background:url(../resources/images/t2tab-bg.png) 0 bottom repeat-x;
}

.t2rb{
	display:table-cell;
	background:url(../resources/images/t2tab-rb.png) 0 bottom no-repeat;
	width:32px;
	height:40px;
}

.t2nav>li.act .t2rb{
	background:url(../resources/images/t2tab-act-rb.png) 0 bottom no-repeat;
}

.t2lb{
	display:table-cell;
	background:url(../resources/images/t2tab-lb.png) 0 bottom no-repeat;
	width:10px;
	height:40px;
}

.t2nav>li.act .t2lb{
	background:url(../resources/images/t2tab-act-lb.png) 0 bottom no-repeat;
}

.t2nav>li.act{
	z-index:100;
}

.t2nav>li.act>a{
	background:url(../resources/images/t2tab-act-bg.png) 0 bottom repeat-x;
	font-weight:bold;
	color:#3c4850;
}

.t2nav>li:hover>a{
	color:#3c4850;
	text-shadow:0px 0px 16px #999;
}


.t2leftb2{
	width:34px;
	background:url(../resources/images/leftb2.png) 0 bottom no-repeat;
	display:table-cell;
}

.t2tab2{
	background:url(../resources/images/dane2-bg.png) 0 bottom repeat-x;
	height:40px;
	display:table-cell;
	vertical-align:top;
}

.t2rightb2{
	width:34px;
	background:url(../resources/images/rightb2.png) 0 bottom no-repeat;
	display:table-cell;
}

.panel{
	margin:0 30px;
	padding:19px 19px 49px 19px;
	border:1px solid #fff;
	border-top:none;
	background-color:#eee;
	clear:both;
}

.elblock>.panel{
	border-style:none;
	margin: 0;
}
.elblock>.panel{
	background-image:none;
	padding-bottom:0px;
	
}
.dialogContent>.panel{
	border-width:medium 0px 0px;
	margin:0;
	padding:0;
}

.elblock>.pbw, .dialogContent>.pbw{
	background-image:none;
	padding:0;
}	
.listDialogContent>.pbw{
	background-image:none;
}
.listDialogContent>.panel, .ui-layout-unit-content>.panel{
	border-width:medium 0px 0px;
	margin:0;
}

.ui-dialog-content>.pbw{
	
}
.ui-dialog-content>.panel{
	border-style:none;
	padding:5px 19px 29px;
	margin:0;
}


.pbw{
	background-image:url(../resources/images/pbw-bg.png);
	background-repeat:repeat-x;
	padding-bottom:35px;
}

.pbg{
	background-image:url(../resources/images/pbg.png);
	background-repeat:repeat-x;
}

.panel h2{
	font-size:14px;
	text-shadow: 0 1px #fff;
	margin-bottom:5px;
	margin-top: 5px;
}

.panel h3{
	font-size:14px;
	text-shadow: 0 1px #fff;
	margin-bottom:12px;
}

.elpanel{
	margin-top:13px;
	padding:10px 17px 25px 17px;
	background-color:#d4d4d4;
	border:1px solid #b2b2b2;
	border-bottom:none;
	border-radius:6px;
	box-shadow:0px 2px 2px #bfbfbf inset, 0px 1px 1px #fff;
}

.elblock{
	display:table;
	width:100%;
}

.elblock+.elblock,.elblock+h2{
	margin-top:10px;	
}

.elbut{
	margin-top:8px;
	margin-bottom:10px;
	text-align:right;
	height:1px;
	clear:both;
}
.sd-elbut{
	margin-top:8px;
	margin-bottom:10px;
	text-align:right;
	clear:both;
}

.elcol{
	vertical-align:top;
	display:table-cell;
}

.elcol+.elcol{
	padding-left:20px;
}

.elcol.nomns{
	padding:0;
}

.elcol.spmns{
	padding-left:10px;
}

.elline{
	vertical-align:top;
	display:table;
	height:26px;
	width:100%;
}

.elline.ellinehp{
	height:auto;
	white-space:nowrap;
}

.ellinehp .iptchk,
.ellinehp .nlabel
{
	margin-top:0;
	height:auto;
	vertical-align:middle;
}

.elcell{
	vertical-align:top;
	display:table-cell;
}

.ecipt{
	padding-right:10px;
}

.elm{
	padding-left:10px;
}

.elline+.elline{
	margin-top:5px;
}

.elline+h2,
.elline+h3{
	margin-top:26px;
}

.butlist{
	margin-top:33px;
	list-style:none;
}

.butlist li{
	clear:both;	
}

.butlist li+li{
	margin-top:6px;	
}

.nlabel{
	margin-top:5px;
	font-size:13px;
	padding-right:14px;
	vertical-align:top;
	display:inline-block;
	white-space:nowrap;
}

.nlabellite{
	font-size:13px;
	padding-right:14px;
	white-space:nowrap;
}

input+.nlabel{
	margin-left:6px;
}

select+input[type=checkbox],
.ipt+.iptchk{
	margin-left:14px;
	overflow:hidden;
}

div.ui-dt-c>input, div.ui-dt-c>input.ui-inputfield{
	font-size:13px;
	margin-top:1px;
	margin-right:1px;
	padding:3px 0 2px 4px;
	vertical-align:top;
	border-radius:2px;
	box-shadow:1px 1px #e2e2e2 inset;
	border-style:solid;
	border-width:1px 0 0 1px;
	border-color:#a9a9a9;
	line-height:normal;
	color:#3c4850;
	font-weight: normal;
	width: 100%;
}

span.ui-state-error{
	border: none !important;
}

.ui-state-error,span.ui-state-error>input {
	border: 1px solid #CD0A0A !important;
}

.ipt[disabled], .ipt[readonly]{
	box-shadow:none;
	opacity:0.9;
}

.ipt,.searchipt, input.ipt,.ui-dialog-content input.ipt, .ui-widget-content input.ipt, .ui-inputfield .ipt, .ui-dialog-content textarea.ipt, textarea.ipt, .spinner .ui-spinner-input {
	font-size:13px;
	margin-top:1px;
	margin-right:1px;
	padding:3px 0 2px 4px;
	vertical-align:top;
	border-radius:2px;
	box-shadow:1px 1px #e2e2e2 inset;
	border-style:solid;
	border-width:1px 0 0 1px;
	border-color:#a9a9a9;
	line-height:normal;
	color:#3c4850;
	width:230px;
	font-weight: normal;
}

.spinner {
	width:230px;
}

.spinner .ui-spinner-input {
	width:88%;
}

.spinner .ui-spinner-button {
	margin-top:1px;
	height: 45%;
	width: 8%;
	border-radius:2px;
}

.spinner .ui-icon {
	left: 50%; 
}

span.iptAutocomplete>input,.ui-dialog-content span.iptAutocomplete>input, .ui-widget-content span.iptAutocomplete>input{
	font-size:13px !important;
	margin-top:1px;
	margin-right:1px;
	padding:3px 0 2px 4px;
	vertical-align:top;
	border-radius:2px;
	box-shadow:1px 1px #e2e2e2 inset;
	border-style:solid;
	border-width:1px 0 0 1px;
	border-color:#a9a9a9;
	line-height:normal;
	color:#3c4850;
	font-weight: normal;
	width:230px;
}
span.ipt2>input{
	font-size:13px !important;
	margin-top:1px;
	margin-right:1px;
	padding:3px 0 2px 4px;
	vertical-align:top;
	border-radius:2px;
	box-shadow:1px 1px #e2e2e2 inset;
	border-style:solid;
	border-width:1px 0 0 1px;
	border-color:#a9a9a9;
	line-height:normal;
	color:#3c4850;
	font-weight: normal;
	
}

span.iptAutocompleteAddress>input{
	width:235px;
} 
span.iptAutocompleteSmall>input{
	width:180px;
}
span.iptAutocompleteSearch>input{
	width:200px;
}

.searchipt{
	padding:3px 0 3px 8px;
	color:#969696;
	width:200px;
}

.ipt.error,.tarea.error{
	outline:1px solid #ff8600;
}

.fullipt{
	width:100%;
}

.fullipt>input{
	width:100%;
}

.ipth{
	margin:0;
	padding:3px 0 2px 8px;
	width:100px;
	font-weight:bold;
	font-size:15px;
}

.iptchk{
/*input[type=checkbox]{*/
	margin-top:0px;
	font-size:11px;
	line-height:13px;
	width:13px;
	height:30px;
	vertical-align:top;
	white-space:nowrap;
}

.tbsq{
	width:32px;
	padding-left:6px;
}

.tblb{
	width:135px;
}

.tblq{
	width:300px;
}

.tblbr{
	width:125px;
	text-align:right;
}

.tarea{
	font-size:13px;
	font-family:inherit;
	height:54px;
	margin-top:1px;
	margin-right:1px;
	padding:7px 0 6px 8px;
	vertical-align:top;
	border-radius:2px;
	box-shadow:1px 1px #e2e2e2 inset;
	border-style:solid;
	border-width:1px 0 0 1px;
	border-color:#a9a9a9;
	line-height:normal;
	color:#3c4850;
}

.tarea.full{
	width:100%;	
}

.butsq{
/*input[type=button],input[type=image]{*/
	cursor:pointer;
	height:32px;
	width:32px;
	vertical-align:top;
	border:none;
}

.butsq[disabled]{
	cursor:auto;	
}

.butsq+.butsq,
.butsq+.butno,
.butno+.butsq{
	margin-left:7px;
}

.butright{
	float:right;
}

.butplus{
	background:url(../resources/images/but-plus.png) 0 0 no-repeat;
	display:block;
}
.butcd{
	background:url(../resources/images/but-cd-1.png) 0 0 no-repeat;
	display:block;
	float:right;
	margin-right:20px;
	width: 36px;
	height: 26px;
}
.butcdrobot{
	background:url(../resources/images/but-cd-robot-1.png) 0 0 no-repeat;
	display:block;
	float:right;
	margin-right:20px;
	width: 36px;
	height: 26px;
}
.butplus:hover{
	background:url(../resources/images/but-plus-ro.png) 0 0 no-repeat;
	
}


.butmin{
	background:url(../resources/images/but-minus.png) 0 0 no-repeat;
}

.butmin:hover{
	background:url(../resources/images/but-minus-ro.png) 0 0 no-repeat;
}

.butup{
	background:url(../resources/images/but-up.png) 0 0 no-repeat;
}

.butup:hover{
	background:url(../resources/images/but-up-ro.png) 0 0 no-repeat;
}

.butup[disabled]{
	background:url(../resources/images/but-up-off.png) 0 0 no-repeat;
}

.butdown{
	background:url(../resources/images/but-down.png) 0 0 no-repeat;
}

.butdown:hover{
	background:url(../resources/images/but-down-ro.png) 0 0 no-repeat;
}

.butdown[disabled]{
	background:url(../resources/images/but-down-off.png) 0 0 no-repeat;
}

.butadd{
	background:url(../resources/images/but-add.png) 0 0 no-repeat;
}

.butadd:hover{
	background:url(../resources/images/but-add-ro.png) 0 0 no-repeat;
}

.butadd[disabled]{
	background:url(../resources/images/but-add-off.png) 0 0 no-repeat;
}

.butaddall{
	background:url(../resources/images/but-add-all.png) 0 0 no-repeat;
}

.butaddall:hover{
	background:url(../resources/images/but-add-all-ro.png) 0 0 no-repeat;
}

.butaddall[disabled]{
	background:url(../resources/images/but-add-all-off.png) 0 0 no-repeat;
}

.butrem{
	background:url(../resources/images/but-rem.png) 0 0 no-repeat;
}

.butrem:hover{
	background:url(../resources/images/but-rem-ro.png) 0 0 no-repeat;
}

.butrem[disabled]{
	background:url(../resources/images/but-rem-off.png) 0 0 no-repeat;
}

.butremall{
	background:url(../resources/images/but-rem-all.png) 0 0 no-repeat;
}

.butremall:hover{
	background:url(../resources/images/but-rem-all-ro.png) 0 0 no-repeat;
}

.butremall[disabled]{
	background:url(../resources/images/but-rem-all-off.png) 0 0 no-repeat;
}

.butfprev{
	background:url(../resources/images/but-fprev.png) 0 0 no-repeat;
	display:block;
}

.butprev{
	background:url(../resources/images/but-prev.png) 0 0 no-repeat;
	display:block;
}

.butnext{
	background:url(../resources/images/but-next.png) 0 0 no-repeat;
	display:block;
}

.butfnext{
	background:url(../resources/images/but-fnext.png) 0 0 no-repeat;
	display:block;
}

.butssq{
	cursor:pointer;
	height:21px;
	width:21px;
	vertical-align:top;
	border:none;
}
.butpreview{
	background:url(../resources/images/but-preview-sml.png) 0 0 no-repeat;
	display: block;
}
.butpreview:hover{
	background:url(../resources/images/but-preview-sml-ro.png) 0 0 no-repeat;
}

.butminussml{
	background:url(../resources/images/but-minus-sml.png) 0 0 no-repeat;
	display: block;
}

.butminussml:hover{
	background:url(../resources/images/but-minus-sml-ro.png) 0 0 no-repeat;
}

.butunblocksml{
	background:url(../resources/images/but-unblock-sml.png) 0 0 no-repeat;
	display: block;
}

.butunblocksml:hover{
	background:url(../resources/images/but-unblock-sml-ro.png) 0 0 no-repeat;
}

.butplussml{
	background:url(../resources/images/but-plus-sml.png) 0 0 no-repeat;
	display: block;
}

.butplussml:hover{
	background:url(../resources/images/but-plus-sml-ro.png) 0 0 no-repeat;
}

.butcircleplussml{
	background:url(../resources/images/but-circle-plus-sml.png) 0 0 no-repeat;
	display: block;
}

.butcircleplussml:hover{
	background:url(../resources/images/but-circle-plus-sml-ro.png) 0 0 no-repeat;
}

.butnav{
	cursor:pointer;
	width:180px;
	height:37px;
	vertical-align:top;
	border:none;
	font-size:14px;
	/*text-shadow:0 1px #FFFFFF;*/
	color: #3C4850;
	font-weight:bold;
}

.sd-butnav{
	cursor:pointer;
	width:180px;
	height:37px;
	vertical-align:top;
	border:none;
	font-size:14px;
	color: #3C4850;
	font-weight:bold;
}
.butnav+.butnav{
	margin-left:3px;
}

.butanuluj{
	background:url(../resources/images/but-anuluj.png) 0 0 no-repeat;
}

.butanuluj:hover{
	background:url(../resources/images/but-anuluj-ro.png) 0 0 no-repeat;
}
a.butextra{
	float:left;
	background:url(../resources/images/but-white.png) 0 0 no-repeat;
}
a.butextra:hover{
	background:url(../resources/images/but-white-ro.png) 0 0 no-repeat;
}

.butaction{
	display:block;
	text-align:center;
	text-decoration:none;
	float:right;
	padding-top:6px;
	background:url(../resources/images/but-action.png) 0 0 no-repeat;
}
.sd-butaction{
	display:block;
	text-align:center;
	text-decoration:none;
	padding-top:6px;
	background:url(../resources/images/but-action.png) 0 0 no-repeat;
}
.butaction:hover{
	background:url(../resources/images/but-action-ro.png) 0 0 no-repeat;
}

.butsplitl{
	display:block;
	text-align:center;
	text-decoration:none;
	float:left;
	padding-top:6px;
	background:url(../resources/images/but-splitl.png) 0 0 no-repeat;
	cursor:pointer;
	width:138px;
	height:34px;
	vertical-align:top;
	border:none;
	font-size:14px;
	color: #3C4850;
	font-weight:bold;
}
.butsplitl:hover{
	background:url(../resources/images/but-splitl-ro.png) 0 0 no-repeat;
}
.butsplitr{
	display:block;
	text-align:center;
	text-decoration:none;
	float:left;
	padding-top:6px;
	background:url(../resources/images/but-splitr.png) 0 0 no-repeat;
	cursor:pointer;
	width:47px;
	height:34px;
	vertical-align:top;
	border:none;
	font-size:14px;
	color: #3C4850;
	font-weight:bold;
}
.butsplitr:hover{
	background:url(../resources/images/but-splitr-ro.png) 0 0 no-repeat;
}
div.splitPanel{
	box-shadow:none;
	border-radius:0;
	margin-left: 6px;
	width: 140px;
}
div.splitPanel a{
	float: left;
	text-decoration: none;
}

.butgrayaction{
	display:block;
	text-align:center;
	text-decoration:none;
	float:right;
	padding-top:6px;
	background:url(../resources/images/but-grey.png) 0 0 no-repeat;
}
.sd-butgrayaction{
	display:block;
	text-align:center;
	text-decoration:none;
	padding-top:6px;
	background:url(../resources/images/but-grey.png) 0 0 no-repeat;
}
.butgrayaction:hover{
	background:url(../resources/images/but-grey-ro.png) 0 0 no-repeat;
}

.butsmallgrayaction{
	display:block;
	text-align:center;
	text-decoration:none;
	padding-top:6px;
	background:url(../resources/images/but-small-gray.png) 0 0 no-repeat;
	width:100px;
}
.butsmallgrayaction:hover{
	background:url(../resources/images/but-small-gray-ro.png) 0 0 no-repeat;
}

.butdalej{
	background:url(../resources/images/but-dalej.png) 0 0 no-repeat;
}

.butdalej:hover{
	background:url(../resources/images/but-dalej-ro.png) 0 0 no-repeat;
}

.butwroc{
	background:url(../resources/images/but-wroc.png) 0 0 no-repeat;
}

.butwroc:hover{
	background:url(../resources/images/but-wroc-ro.png) 0 0 no-repeat;
}

.butno{
	cursor:pointer;
	height:32px;
	vertical-align:top;
	border:none;
	font-size:14px;
	text-shadow:0 1px #FFFFFF;
	color: #3C4850;
	font-weight:bold;
}


.butno+.butno{
	margin-left:7px;
}

.butwybierz{
	background:url(../resources/images/but-wybierz.png) 0 0 no-repeat;
	width:90px;
	display: block;
}

.butwybierz:hover{
	background:url(../resources/images/but-wybierz-ro.png) 0 0 no-repeat;
}

.butwyczysc{
	background:url(../resources/images/but-wyczysc.png) 0 0 no-repeat;
	width:97px;
	display: block;
}

.butwyczysc:hover{
	background:url(../resources/images/but-wyczysc-ro.png) 0 0 no-repeat;
}

.butdodajelement{
	background:url(../resources/images/but-dodaj-element.png) 0 0 no-repeat;
	width:152px;
}

.butdodajelement:hover{
	background:url(../resources/images/but-dodaj-element-ro.png) 0 0 no-repeat;
}

.butzapisz{
	background:url(../resources/images/but-zapisz.png) 0 0 no-repeat;
	width:85px;
}

.butzapisz:hover{
	background:url(../resources/images/but-zapisz-ro.png) 0 0 no-repeat;
}

.butnowy{
	background:url(../resources/images/but-nowy.png) 0 0 no-repeat;
	width:73px;
	display: block;
}

.butnowy:hover{
	background:url(../resources/images/but-nowy-ro.png) 0 0 no-repeat;
}

.butdodajtelefon{
	background:url(../resources/images/but-dodaj-telefon.png) 0 0 no-repeat;
	width:131px;
}

.butdodajtelefon:hover{
	background:url(../resources/images/but-dodaj-telefon-ro.png) 0 0 no-repeat;
}

.butnavsml{
	cursor:pointer;
	height:22px;
	vertical-align:top;
	border:none;

}

td>.butnavsml{
	margin:2px 0;
}

.butdodajelementsml{
	background:url(../resources/images/but-dodaj-element-sml.png) 0 0 no-repeat;
	width:110px;
}

.butdodajelementsml:hover{
	background:url(../resources/images/but-dodaj-element-sml-ro.png) 0 0 no-repeat;
}

select{
	margin-top:1px;
	height:26px;
	border-radius:2px;
	line-height:30px;
	outline:none;
	border:1px solid #bfbfbf;
	color:#3c4850;
	background:url(../resources/images/sel-bg.png) 0 bottom repeat-x #fff;
}

select:focus{
	border:1px solid #ccc;
}

.butsq:focus{
	outline:none;
	border:1px solid #ccc;
}

.selkb1{
	width:100%;
}

.selstd{
	width: 235px;
}

.selno{
	width:150px;
}

.tb2nohead thead{
	display:none;
}

div.tb2col>table{
	border-spacing:0;
	border-radius:2px;
	border:1px solid #b8b8b8;
	width:100%;
	min-width:300px;
}

.tb2col thead>tr>th,
.tb2col tfoot>tr>td{
	background:url(../resources/images/tb-bg.png) 0 0 repeat-x;
	background-color: #C0BFBE;
}

.tb2col thead th,
.tb2col tfoot td{
	/*padding:5px 20px;*/
	height:28px;
	font-size:13px;
	text-shadow: 0 1px #fff;
	text-align:left;
	border-bottom:1px solid #bfbfbf;
	/*border-style: none;*/
	font-weight: normal;
}

.tb2col tfoot td{
	border:none;
	border-top:1px solid #bfbfbf;
}

.tb2col thead a{
	text-decoration:none;
	color:inherit;
}

.tbsort{
	padding:5px 0;
	display:inline-block;
	width:100%;
	background:url(../resources/images/sort-down.png) right center no-repeat;
}

.tbsort.up{
	background:url(../resources/images/sort-up.png) right center no-repeat;
}

.tb2col thead td+td{
	background:url(../resources/images/th-split.png) 0 0 no-repeat;
}

.tb2col tbody td{
	padding:4px 20px;
	font-size:13px;
	line-height:normal;
	border-collapse:inherit;
}

.tb2col td .iptchk{
	vertical-align:middle;
	height:auto;
}

.tb2col .teven td{
	background-color:#fcfcfc;
}

.tb2col tr{
	border:none;
	border-top:1px solid #bababa;
	cursor: pointer;
}

.tb2col tr+tr{
	border-top:1px dotted #bababa !important;

	
}

.tb2col+.elline{
	margin-top:7px;
}

.tbcc{
	text-align:center !important;
	width:20px;
}

thead .tbrtb{
	background:none !important;	
}

.tbrtb{
	padding:0 !important;
	width:24px;
}

.tbscroll{
	padding:0 !important;
	background:none !important;
	width:30px;
}

tbody .tbscroll{
	background-color:#f5f5f5 !important;
}

.tbscrollpad{
	min-height:121px;
	width:30px;
	background:url(../resources/images/tb-scrollpad.png) 0 0 no-repeat;
}

.tbscrollthumb{
	width:30px;
	height:32px;
	background:url(../resources/images/tb-scrollthumb.png) 0 0 no-repeat;
}

.tbfnav{
	list-style:none;
	display:inline;
	padding-right:3px;
}

.tbfnav>li{
	display:inline-block;
	height:11px;
	padding:2px 0;
}

.tbfnav>li>a{
	text-decoration:none;
}

.tbfnfp{
	background:url(../resources/images/tb-fprev.png) 0 6px no-repeat;
	width:11px;
}

.tbfnp{
	background:url(../resources/images/tb-prev.png) 0 6px no-repeat;
	width:5px;
	margin-right:8px;
}

.tbfnn{
	background:url(../resources/images/tb-next.png) 0 6px no-repeat;
	width:5px;
}

.tbfnfn{
	background:url(../resources/images/tb-fnext.png) 0 6px no-repeat;
	width:12px;
}



/*backbone*/

#ind {
  position: absolute;
  right: -8px;
  top: -10px;
  margin: 0pt 0pt 0pt 0pt;
  font-weight: bolder;
  font-size: 10px;
  text-align: center;
  float: left;
  min-width: 10px;
  padding: 2px;
  border: 2px solid #000;
  background-color: #f00;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  color: #fff;
}

/*--backbone*/
table.examinationDialogGrid td + td + td{
	width: 50px;
}

.tblMessages tr>td{
	padding-bottom: 12px;
}

.importantMessage{
	background-color:#FEEFB3;
	font-size:12px;
	color:#9F6000;
	border:1px solid;
	padding:6px;
	border-radius:3px 3px 3px 3px;
}

.normalMessage{
	background-color:#E2E2E2;
	font-size:12px;
	color:#3C4850;
	border:1px solid #b2b2b2;
	padding:6px;
	border-radius:3px 3px 3px 3px;
}

.clearFilter{
	font-size:12px;
	text-shadow:0 1px #FFFFFF;
	color: #3C4850;
	font-weight:bold;
	text-decoration: none;
}
.ui-picklist-source .filterDefaultValue{
	display:none;
}
.selectProduct{
	color: #FF0000;
}
.butactiongraysml{
	background:url(../resources/images/but-gray-action-sml.png) 0 0 no-repeat;
	width:78px;
	display: block;
	text-decoration: none;
	text-align:center;
	padding-top:2px;
	font-size: 12px;
	height: 22px;
}
.butactiongraysmlnb{
	background:url(../resources/images/but-gray-action-sml.png) 0 0 no-repeat;
	width:78px;
	text-decoration: none;
	text-align:center;
	padding-top:2px;
	font-size: 12px;
	height: 22px;
}
.butactiongraysml:hover{
	background:url(../resources/images/but-gray-action-sml-ro.png) 0 0 no-repeat;
}

div.chbRight>div.ui-chkbox-box{
	float:right;
}

.elcell .ui-chkbox{
	top:3px;
	position:relative;
}
.innerTable tr, .innerTable td{
	border-style: none !important;
}
span.dateFilter > input {
	width:120px;
}

.w35, span.w35>input,.ui-dialog-content span.w35 > input,.ui-dialog-content input.w35{
	width: 35px;
}
.w100, span.w100>input,.ui-dialog-content span.w100 > input,.ui-dialog-content input.w100{
	width: 100px;
}
.w125, span.w125>input,.ui-dialog-content span.w125 > input,.ui-dialog-content input.w125{
	width: 125px;
}
.w135, span.w135>input,.ui-dialog-content span.w135 > input,.ui-dialog-content input.w135{
	width: 135px;
}
.w140, span.w140>input,.ui-dialog-content span.w140 > input{
	width: 140px;
}
.w250, span.w250>input,.ui-dialog-content span.w250 > input{
	width: 250px;
}
.wauto, span.wauto>input,.ui-dialog-content span.wauto > input{
	width: auto;
}
.w300, span.w300>input,.ui-dialog-content span.w300 > input{
	width: 300px;
}
.w350, span.w350>input,.ui-dialog-content span.w350 > input{
	width: 350px;
}
.w700, span.w700>input,.ui-dialog-content span.w700 > input{
	width: 700px;
}

.w60p, span.w60p>input,.ui-dialog-content span.w60p > input{
	width: 60%;
}
.w75p, span.w75p>input,.ui-dialog-content span.w75p > input{
	width: 75%;
}
.w100pm680, span.w100pm680>input,.ui-dialog-content span.w100pm680 > input{
	max-width:680px;
	width: 100%;
}
.w100p, span.w100p>input,.ui-dialog-content span.w100p > input,.ui-dialog-content input.w100p{
	width: 100%;
}
div.layout-unit-header-center .ui-layout-unit-header{
	text-align: center;
}
.tb2colCursorPointer tr{
	cursor: pointer;
}
.userName{
	color: #FFFFFF;
	font-weight: bold;
	text-shadow: 0 1px #000;
	font-size: 12px;
}
.tabIcon{
	float:left;
	height:18px;
	width:4px;
	margin-left:3px;
	margin-top:3px;
}

.noheader thead{
	display:none;
}

.panel-unit-collaped-title {
	font-size: 14px;
	font-weight: bold;
} 
.panel-unit-collaped-north {
	padding-top: 4px;
	text-align: center;
}
.panel-unit-collaped-west {
}
.panel-unit-collaped-east {

}
.panel-unit-collaped-title-vertical {
	-webkit-transform: rotate(90deg);	
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	padding-top: 4px;
	padding-left: 30px;
	letter-spacing: 1px;
}
.examinationDescriptionLayout .ui-layout-unit-expand-icon, .examinationDescriptionLayout .ui-layout-unit-header-icon {
	display: none !important;
}

.addressesPanel div.ui-panel-content {padding: 0px;}

.address-pnl-header .ui-icon {
	background:url(../resources/images/glyphicons-halflings.png) 0 0 no-repeat; 
	-webkit-border-radius: 0px;
	border-radius: 0px;} 
.address-pnl-header.address-pnl-head-RESIDENCE span{ background-position: 0 -24px;}
.address-pnl-header.address-pnl-head-MAILING span{ background-position: -72px 0;}
.address-pnl-header.address-pnl-head-STAYING span{ background-position: -72px -24px;}
.address-pnl-header.address-pnl-head-REGISTERED span{ background-position: -168px 0;}
.address-pnl-header.address-pnl-head-OTHER_ADDRESS span{ background-position: -96px -96px;}

.address-title-short { font-size: 12px; color: #666; font-weight: normal; text-shadow: none;}
.multiHeader .addressType {font-weight: bold;}

a.link {
	color: #4F4F4F;
}
a.link:hover {
	text-decoration: none;	
}
div.schedule div.tblb {
	width: 200px;
}
.scheduleValidCheckbox {
	margin-right: 15px;
}
div.scheduleLimitation {
	width: 45%;
	float: left;
	margin-right: 10px;
}
table.scheduleLimitations, table.scheduleLimitations tr, table.scheduleLimitations td {
	border: 0px !important
}
table.select-one-radio{
	width:auto !important;
}
table.select-one-radio tr td{
	padding-right:6px !important;
}
.userCertificateFileUpload {
	width: 400px;
}

.butnavSplitArrow {
	width: 34px;
	margin-left: 0px;
	padding-top: 9px;
	background:url(../resources/images/but-action-split-arrow.png) 0 0 no-repeat;
}
.butnavSplitArrow:hover {
	background:url(../resources/images/but-action-split-arrow-ro.png) 0 0 no-repeat;
}
.butnavSplitMain {
	margin-right: 0px;
	width: 164px;
	margin-left: 6px;
	background:url(../resources/images/but-action-split-main.png) 0 0 no-repeat;
}
.butnavSplitMain:hover {
	background:url(../resources/images/but-action-split-main-ro.png) 0 0 no-repeat;
}
.butnavSplitMainDisabled {
	background:url(../resources/images/but-action-split-main-disabled.png) 0 0 no-repeat !important;
	opacity: 1 !important;
}
.statusOverlayPanel {
	width: 164px;
	padding:0 !important;
	box-shadow:none !important;
	border:none;
	z-index:200;
}
.overlayExaminationStatus {
	text-decoration: none;
	margin: 5px 0px;
	display: block;
}
.overlayExaminationStatusMain {
	font-weight: bold;
}

div.examinationPriority {
	width: 14px;
	height: 14px;
	float: left;
	margin-left: 5px;	
}
div.examinationPriority-NONE {
	background:url(../resources/images/pr-4.png) 0 0 no-repeat;
}
div.examinationPriority-OK {
	background:url(../resources/images/pr-1.png) 0 0 no-repeat;
}
div.examinationPriority-WARN {
	background:url(../resources/images/pr-3.png) 0 0 no-repeat;
}
div.examinationPriority-URGENT {
	background:url(../resources/images/pr-2.png) 0 0 no-repeat;
}

.adminTableClass table .ui-state-highlight>td{
	font-weight:bold;
	background-color:#e1e1e1;
	height:42px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-shadow:none;
}

.adminTableClass table .ui-state-highlight>td:first-child{
	border-left:1px solid #0070b8 !important;
	box-shadow: inset 6px 0px 3px -3px #0074bf;
}

button.dateClear {
	width: 25px;
	height: 25px;
}
button.dateClear span.ui-button-icon-left {
	margin-left: -8px;
}
.workListSplitterContainer{	
	width: 100%;
} 
.workListTopContainer{
	width: 100%;
	height: 550px;
	overflow: auto;
}
.workListBottonContainer{
	width: 100%;
	overflow: auto;
}

.splitbarH {
	height: 4px;
	text-align: left;
	line-height: 0px;
	font-size: 0px;
	border-top: solid 1px #a8a8a8;
	border-bottom: solid 1px #a8a8a8;
	background: #cacaca;
}

.selectedFilterDefinition, .selectedViewDefinition {
	font-weight: bold;
}

.customElementsOverlayPanel {
	width: 550px;
}

.customElementDefinitionsSeparator {
	font-size: 12px; 
	font-weight: bold;
	float: right;
}

.customElementDefinitionsSeparator2 {
	font-size: 12px; 
	font-weight: bold;
	float:left;
}

div#workListTopTableId table div.ui-dt-c {
	position: inherit !important;
}

.statusOverlayPanel table, .statusOverlayPanel tr, .statusOverlayPanel td {
	border: 0px !important;
}
.statusOverlayPanel .ui-state-highlight {
	text-shadow: none !important
}
.statusOverlayPanel a, .statusOverlayPanel a:hover {
	text-decoration: none !important;
}
.statusOverlayPanel span.ui-state-disabled{
	padding:1px 31px 3px 9px;
}
.tableStatusActions {
	
}
.tablePatientExamDesc th{
	text-align:left !important;
}

.tableItemStyleExaminationUrgent {
	font-weight:bold;
	color:#de2a2d;
}

.disable-ui-state-disabled .ui-state-disabled{
	opacity:1 !important;
}

.tableNoEvenOddRows .ui-datatable-even, .tableNoEvenOddRows .ui-datatable-odd {
	background: none;
}

.logelline{
	vertical-align:middle;
	display:table;
	height:24px;
	width:100%;
	
}
.logelcell{
	vertical-align:middle;
	display:table-cell;
}
.logtblb{
	width:125px;
}
.logecipt{
	padding-left:4px;
	padding-right:4px;
}
.logodd{
	background-color:#ECECEC;
}
.ui-state-hover .logodd, .ui-state-highlight .logodd{
	background-color:inherit;	
}
.logellineempty{
	border-bottom-style:dashed;
	border-width:1px; 
	display:block;
	height:5px;
	width:100%;
}

.mergePatient #patientsTablePanelTable{
	height: 200px;
}

.mergePatient .pbw{
	padding-bottom:0;
}


.mergePatientsDataelcol{
	vertical-align:top;
	display:table-cell;
}

.mergeFirst .panel{
	margin-right:5px;
}
.mergeSecond .panel{
	margin-left:5px;
}
.danedataMedicalServices{
	font-size:12px;
	line-height:15px;
}
.danedataMedicalServices input{
	height:12px;	
}

.ui-custom-overlaypanel {
	text-shadow: none !important;
	font-weight: normal;
}

.invisible {display: none;}

#workListTopTablePanelTable{
	/*overflow-y:hidden;
	position: static !important;*/
}

.tab-l1-main .ui-button-text{
	padding:0.4em 0.2em !important;
}


.importInfo {
	color: #ccc;
	font-weight: bold;
}

.importWarning {
	color: #e00;
}

.ewus-insured {
	background-color:lightgreen;
}

.ewus-not-insured {
	background-color:red;
}

.ewus-no-data {
	background-color:orange;
}

.ewus-error {
	background-color:orange;
}

.import-data-table {
	text-align: center;
	border-collapse:collapse;
}

.import-data-table th, .import-data-table td {
	border: 1px solid #eee;
	padding: 3px;
}

.autocomplete.describingUser[disabled],
.autocomplete.consultingUser[disabled] {
	background-color: #ddd;
}

.ui-paginator .ui-paginator-first,.ui-paginator .ui-paginator-prev,.ui-paginator .ui-paginator-next,.ui-paginator .ui-paginator-last{
	background: none;
	border: none;
	border-radius: none;
	box-shadow: none;
	padding: 2px 0px !important;
}

.ui-paginator .ui-paginator-first {
	background: url(../resources/images/tb-fprev.png) no-repeat scroll 0px
		6px transparent !important;
}

.ui-paginator .ui-paginator-prev {
	background: url(../resources/images/tb-prev.png) no-repeat scroll 3px
		6px transparent !important;
}

.ui-paginator .ui-icon {
	background-image: url();
	width: 12px;
}

.ui-paginator .ui-paginator-pages {
	padding: 2px 0px !important;
}

.ui-paginator .ui-paginator-next {
	background: url(../resources/images/tb-next.png) no-repeat scroll 3px
		6px transparent !important;
}

.ui-paginator .ui-paginator-last {
	background: url(../resources/images/tb-fnext.png) no-repeat scroll 0px
		6px transparent !important;
}

.ui-datatable tr.ui-state-highlight{
	border:none;
	color:#3C4850;
}
.ui-datatable .ui-datatable-data tr.ui-state-hover{
	box-shadow:none;
	border:none;
}

.adminTableClass table tr:hover td{
	box-shadow:none;
	background: #f2f2f2; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f2f2f2 0%, #e8e8e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f2f2f2 0%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f2f2f2 0%,#e8e8e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f2f2f2 0%,#e8e8e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f2f2f2 0%,#e8e8e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-8 */
}
.tdstat{
	bottom:0;	

	font-size:13px;
	line-height:17px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	border:1px solid #bfbfbf;
	z-index:501;
/*	background-clip: padding-box;
	background-origin: padding-box; */
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-shadow:0px 2px 22px -8px #141514;
	overflow:hidden;

	background: #ffffff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 10%, #e8e8e7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(10%,#ffffff), color-stop(100%,#e8e8e7));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 10%,#e8e8e7 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 10%,#e8e8e7 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 10%,#e8e8e7 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 10%,#e8e8e7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e7',GradientType=0 );
}

.tdstat>li{
	white-space:nowrap;
}

.tdstat>li a{
	padding:1px 31px 3px 9px;
	width:100%;
	display:inline-block;
	text-decoration:none;
	text-shadow:-1px 1px #fff;
	color:#3c4850;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.regexam{
	padding:0px !important;
	font-size:13px;
	line-height:22px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	border:1px solid #bfbfbf;
	z-index:501;
/*	background-clip: padding-box;
	background-origin: padding-box; */
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-shadow:0px 2px 22px -8px #141514;
	overflow:hidden;

	background: #ffffff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 10%, #e8e8e7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(10%,#ffffff), color-stop(100%,#e8e8e7));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 10%,#e8e8e7 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 10%,#e8e8e7 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 10%,#e8e8e7 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 10%,#e8e8e7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e7',GradientType=0 );
}

.regexam  a{
	text-decoration:none;
	padding:1px 8px;
	display:block;
}

.regexam  a:hover{
	text-shadow:none;
	color:#ffffff;

		
	background: #0089e1; /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwODllMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMzczYmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #0089e1 0%, #0373ba 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0089e1), color-stop(100%,#0373ba)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0089e1 0%,#0373ba 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0089e1 0%,#0373ba 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0089e1 0%,#0373ba 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0089e1 0%,#0373ba 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089e1', endColorstr='#0373ba',GradientType=0 ); /* IE6-8 */

	border-radius:0px;
	box-shadow:none;
}

.fsel{
	padding:6px 0 4px 0;
	border-bottom:1px solid #c5c5c5;
	margin-bottom:7px;
}

.fact{
	margin-top:5px;
	padding:5px 0 4px 0;
	border-top:1px solid #c5c5c5;
	
	background: #0070b8; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNzBiOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQlIiBzdG9wLWNvbG9yPSIjMDA4OWUxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNzBiOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  #0070b8 0%, #0089e1 1px, #0070b9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0070b8), color-stop(1px,#0089e1), color-stop(100%,#0070b9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0070b8 0%,#0089e1 1px,#0070b9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0070b8 0%,#0089e1 1px,#0070b9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0070b8 0%,#0089e1 1px,#0070b9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0070b8 0%,#0089e1 1px,#0070b9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0070b8', endColorstr='#0070b9',GradientType=0 ); /* IE6-8 */

}

.fact a{
	text-shadow:none !important;
	color:#fff !important;	
}


.login{
	padding:60px 0;

	background: #eeeeee; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #eeeeee 0%, #dddddd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#dddddd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=0 ); /* IE6-8 */
}

.loginbox{
	margin:0 auto;
	padding:123px 20px 0 20px;
	width:260px;
	height:370px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	border:1px solid #fff;
	box-shadow: 0px 0px 15px 5px #e0e1e1;
	background:url(../resources/images/login-bg.png) 0 0 no-repeat;
}
.split-panel-bcg{
	background: #ffffff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 10%, #e8e8e7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(10%,#ffffff), color-stop(100%,#e8e8e7));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 10%,#e8e8e7 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 10%,#e8e8e7 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 10%,#e8e8e7 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 10%,#e8e8e7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e7',GradientType=0 );
}
.logipt{
	width:100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.ui-paginator {
	text-align: left ! important
}
#workListTopTablePanelTable{
	overflow-x:inherit !important;
}
table.technicianInfoLine > tbody > tr > td {
	vertical-align: top;
}

table.technicianInfoLine tr.ui-datatable-even td , table.technicianInfoLine tr.ui-datatable-odd td {
	background: #eeeeee !important;
	border: none !important;
}
#pnlProducts #productsTablePanelId .ui-datatable th {
	white-space:normal;
}
#pnlProducts #productsTablePanelId .ui-dt-c {
	padding:2px 3px;
}


div.mainmenu li.ui-menu-parent>ul.ui-menu-child{
	width:auto;
	list-style:none;
	padding:6px 0;
	position:absolute;
	top:47px;
	left:0;
	font-size:13px;
	line-height:16px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	border:1px solid #bfbfbf;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-shadow:0px 2px 22px -8px #141514;
	
	background: #ffffff; /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #e8e8e7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e8e8e7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e8e8e7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e8e8e7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e8e8e7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e8e8e7 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e7',GradientType=0 );*/ /* IE6-8 */


}

div.mainmenu li.ui-menu-parent>ul.ui-menu-child{
	padding:1px 12px 0 0;
	font-weight:normal;
	white-space:nowrap;
	
}

div.mainmenu li.ui-menu-parent>ul.ui-menu-child .ui-state-hover, div.mainmenu li.ui-menu-parent>ul.ui-menu-child .ui-corner-all{
	box-shadow:none;
	border-radius:0px 0px 0px 0px;
}

div.mainmenu li.ui-menu-parent>ul.ui-menu-child li{
	margin:1px 10px 1px 0px;
	
}

div.mainmenu li.ui-menu-parent>ul.ui-menu-child a{
	padding:1px 31px 3px 9px;
	width:100%;
	display:inline-block;
	text-decoration:none;
	text-shadow:-1px 1px #fff;
	color:#3c4850;
	box-sizing: border-box;
	-moz-box-sizing: border-box;	
	/*background:url(../images/menu-arr.png) right center no-repeat;*/
}

div.mainmenu li.ui-menu-parent>ul.ui-menu-child .ui-state-hover{
	background:none;
}

div.mainmenu li.ui-menu-parent>ul.ui-menu-child li.act,div.mainmenu li.ui-menu-parent>ul.ui-menu-child li.ui-menuitem-active{
	padding-top:0;	
	background: #0089e1; /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwODllMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMzczYmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #0089e1 0%, #0373ba 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0089e1), color-stop(100%,#0373ba)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0089e1 0%,#0373ba 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0089e1 0%,#0373ba 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0089e1 0%,#0373ba 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0089e1 0%,#0373ba 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089e1', endColorstr='#0373ba',GradientType=0 ); /* IE6-8 */
}

div.mainmenu li.ui-menu-parent>ul.ui-menu-child>li:hover>a{
	color:#fff;
	text-shadow:none;
	/*background:url(../images/menu-arr-act.png) right center no-repeat;*/
}

div.searchlist, ul.ui-autocomplete, ul.ui-autocomplete-list{
	box-shadow:0px 2px 22px -8px #141514;
	padding:0px !important;
}

div.searchlist table, ul.ui-autocomplete, ul.ui-autocomplete-list{
	cursor:pointer;
	font-size:13px;
	line-height:16px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	border:1px solid #bfbfbf;


/*	background-clip: padding-box;
	background-origin: padding-box; */
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	
	overflow:hidden;

	background: #ffffff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 10%, #e8e8e7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(10%,#ffffff), color-stop(100%,#e8e8e7));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 10%,#e8e8e7 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 10%,#e8e8e7 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 10%,#e8e8e7 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 10%,#e8e8e7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e7',GradientType=0 );
}

div.searchlist table td, ul.ui-autocomplete li>a, ul.ui-autocomplete-list li{
	
	color:#3c4850;

	/*border-bottom:1px solid #fff;*/
}

div.searchlist table tr.ui-state-highlight, ul.ui-autocomplete li>a.ui-state-hover, ul.ui-autocomplete-list li.ui-state-highlight{
	text-shadow:none;
	color:#ffffff;

	padding-top:0;	
	background: #0089e1; /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwODllMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMzczYmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #0089e1 0%, #0373ba 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0089e1), color-stop(100%,#0373ba)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0089e1 0%,#0373ba 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0089e1 0%,#0373ba 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0089e1 0%,#0373ba 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0089e1 0%,#0373ba 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089e1', endColorstr='#0373ba',GradientType=0 ); /* IE6-8 */

	border-radius:0px;
	box-shadow:none;
}
ul.ui-autocomplete li>a.ui-state-hover{
	padding-top:4px;
}

div.searchlist table tr.ui-state-highlight span{
	color:#ffffff;
}


div.searchlist table tr+tr{
	border-bottom:1px solid #fff;
}

ul.ui-autocomplete li+li, ul.ui-autocomplete-list li+li{
	border-top:1px solid #BFBFBF !important; 
	border-radius:0px;
}

div.searchlist table tr span{
	padding:0;
	display:inline-block;
	text-decoration:none;

	color:#3c4850;
}
div.searchlist .ui-autocomplete-panel td, div.searchlist .ui-autocomplete-table td{
	
	border-style:none;
	border-width:0;
	border-top:1px solid #bfbfbf;
	padding:4px 2px 4px 4px;
}

.searchAutocomplete_PATIENT{
	width:16px;
	height:16px;
	background:url(../resources/images/sico-os.png) 0px 0px no-repeat;
}

.searchAutocomplete_EXAMINATION{
	width:16px;
	height:16px;
	background:url(../resources/images/sico-doc.png) 0px 0px no-repeat;
}

.buteditsml{
	background:url(../resources/images/but-edit-sml.png) 0 0 no-repeat;
	display:block;
	width: 38px;
}
.buteditsml:hover{
	background:url(../resources/images/but-edit-sml-ro.png) 0 0 no-repeat;
}
.canceledDocument{
	text-decoration: line-through;
}
.nggridStyle {
    width: auto; 
    height: 100%;
}

.questionnaire-question.q-font-small {
	 font-size: 0.9em;
}

.questionnaire-question.q-font-medium {
	 font-size: 1.2em;
}

.questionnaire-question.q-font-large {
	 font-size: 1.4em;
}


tr.ui-widget-content.heliBlocked, 
tr.ui-datatable-even.heliBlocked, 
tr.ui-datatable-odd.heliBlocked, 
tr.ui-state-hover.heliBlocked, 
tr.ui-state-highlight.heliBlocked, 
tr.heliBlocked td
{ background-color: #d1e9bb !important;
background-image: none !important;}

.vertical-radio label {
	margin-left: 5px;
	margin-right: 5px;
}

.audio-ui {
	border: 1px solid #eee;
	background-color: #fafafa;
	background: rgb(238, 238, 238);
	border-radius: 3px;
	padding: 10px;
	cursor: default;
	width: 680px;
	height: 60px;
}
.recognize-button {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAfCAYAAAA4AJfRAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QgdBxIF/abzCwAAAU9JREFUOMvt1b1LHGEQBvDfnQYxJk2Kq9IEbaKdBAyp02ka/wJruV4LQ0pBgqAoEosUqVPaxL9BRLE5iF4rhqQQlaD3sWlmYVnvbu8IBIQ8MLxf8+zOMzvvLPcxgipquImxGvs9MYJTJB3spIj8vgsxtd1e5KTAzruFP9UHuYWxlFDOkB8rRhmlTuSB8Z/8YMjD2MQF9vrktLGIl2k91zDZR3kmGMU+kjIaYYOgidZfJ6yBp/jZh/9daH4UEhylE1wW6D0Lvzp+wUocvMW7AvICXsf8K0zEJa/HUz9HaFlSE6sh8yr2nqValmLjezSFcazjGz7iRTifhd9yPhkbmTdtYxYzmMNW5uxTt2y+ibDyYbdxHXnpiRKmM4ncwats78rWdqf2e4gnsT7GwT+9kr9jvO2lL8Ua5nP/ref4EUmEIXzBh7zmSnzfPCph2TX4A6X5gWVfgh8PAAAAAElFTkSuQmCC);
	display: block;
	overflow: hidden;
	width: 15px;
	height: 31px;
	background-repeat: no-repeat;
	background-position:10% 50%;
}
.recognize-button-red {
	color:red;
}
.recognize-button-black {
	color:black;
}

.audio-button {
	border: 1px #999 solid;
	border-radius: 2px;
	background-color: #eee;
	outline-width: 0;
	position: relative;
	padding: 4px 4px;
	vertical-align: middle;
	margin: 12px 0;
}

.audio-button:active {
	border: 1px #999 solid;
	border-radius: 2px;
	background-color: #ddd;
}

.audio-button:active {
	border: 1px #949494 solid;
	border-radius: 2px;
	background-color: #ccc;
}

.aui-btn-on {
	background-color: #ccc;
}

.aui-btn-checked {
	background-color: #F5D05A;
}

.aui-btn-blink {
	background-color: #F5D05A;
}

.audio-label {
	color: #666;
	font-size: 10px;
	font-family: sans-serif;
}

/* ssa=Solr Search Advanced*/
.ssaFltBlock {
	background-color: #eee;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.0em;
	margin: 1px;
	font-size: 9pt;
	text-decoration: none;
}

.ssaFltBlockHead {
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.0em;
	color: #999;
	margin: 1px;
	font-size: 9pt;
	text-decoration: none;
}

.ssaFltBlock:after {
	clear:both;
}
.ssaFltGrp {
	text-align: center;
	padding-left: 0.5em;
	padding-right: 0.5em;
	/* padding-bottom: 0.15em; */
	padding-top: 0.0em;
	margin: 1px;
	background-color: #ccc;
}
.ssaFltGrpActv {
	text-align: center;
	padding-left: 0.5em;
	padding-right: 0.5em;
	/* padding-bottom: 0.15em; */
	padding-top: 0.0em;
	margin: 1px;
	background-color: #e0e0e0;
}
.ssaFltBtnMenu {
	min-width: 100px;
	line-height: 24px;
	text-align: center;
	padding-left: 0.5em;
	padding-right: 0.5em;
	/* padding-bottom: 0.15em; */
	padding-top: 0.0em;
	margin: 1px;
	background-color: #e0e0f0;
	font-size: 9pt;
	text-decoration: none;
	cursor: pointer;
}
.ssaFltBtnMenuClicked {
	min-width:100px;
	line-height:24px;
	text-align:center;
	padding-left:0.5em;
	padding-right:0.5em;
/*	padding-bottom:0.15em; */
	padding-top:0.0em;
/*	border-style:solid;
	border-width:1px;
	border-color:rgba(255,255,255,0);*/
	margin:1px;
	background-color: #f0f0cc;
	font-size:9pt;
	text-decoration:none;
	cursor:pointer;
	/*visibility:hidden;*/
}
.ssaFltBtn {
	min-width: 100px;
	line-height: 24px;
	text-align: center;
	padding-left: 0.5em;
	padding-right: 0.5em;
	/* padding-bottom: 0.15em; */
	padding-top: 0.0em;
	margin: 1px;
	background-color: #ddd;
	font-size: 9pt;
	text-decoration: none;
	cursor: pointer;
}
.ssaFltBtnActv {
	min-width: 100px;
	line-height: 24px;
	text-align: center;
	padding-left: 0.5em;
	padding-right: 0.5em;
	/* padding-bottom: 0.15em; */
	padding-top: 0.0em;
	margin: 1px;
	background-color: #e0e0e0;
	font-size: 9pt;
	text-decoration: none;
	cursor: pointer;
}
.ssaFltBtnClicked {
	min-width:100px;
	line-height:24px;
	text-align:center;
	padding-left:0.5em;
	padding-right:0.5em;
/*	padding-bottom:0.15em; */
	padding-top:0.0em;
/*	border-style:solid;
	border-width:1px;
	border-color:rgba(255,255,255,0);*/
	margin:1px;
	background-color: #e6e6e6;
	font-size:9pt;
	text-decoration:none;
	cursor:pointer;
}
.ssaFltLabel {
	min-width:100px;
	line-height:24px;
	text-align:left;
	padding-left:0.5em;
	padding-right:0.5em;
/*	padding-bottom:0.15em; */
	padding-top:0.0em;
/*	border-style:solid;
	border-width:1px;
	border-color:rgba(255,255,255,0);*/
	margin:1px;
	background-color: #e6e6e6;
	font-size:9pt;
	text-decoration:none;
	cursor:pointer;
}

.ssa_action {
	text-decoration: underline;
	cursor: pointer;
}

.ssafl {
	float:left;
}
.ssafr {
	float:right;
}
.ssadib {
	display:inline-block;
}
.ssaTxtLine {
	text-decoration: line-through;
}

.ssaTooltip {
	color: #444;
	width: 85%;
	display: none;
	position: absolute;
	padding: 7px;
	border-radius: 3px;
	border: 2px #ccc solid;
	background-color: #fcfcfb;
	box-shadow: 2px 2px 4px #aaa;
	z-index:100;
}

.ssaTooltipClose {
	float:right;
	background: url(../resources/images/tabclose.png) center center no-repeat;
	width: 20px;
	cursor: pointer;
}

.ssaInstrOp {
	width: 20px; 
	float:left;
	font-size: 1.1em;
}

.ssaInstrOpDef {
	float: left;
	width: 95%; 
	padding-bottom:2px;
}

.ssaInstrOpEx {
	font-weight: bolder;
	text-decoration: italic;
}

.ssaInstrResultEx {
	font-style: italic;
}

.TODO {
	color:#ff0000;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.ssaGridStyle {
	border: 1px solid rgb(212,212,212);
	width: auto; 
/*	height: 50%;*/
}


.editor-zoom-1-5 {
	-ms-zoom: 1.5;
	-moz-transform: scale(1.5);
	-moz-transform-origin: 0 0;
	-o-transform: scale(1.5);
	-o-transform-origin: 0 0;
	-webkit-transform: scale(1.5);
	-webkit-transform-origin: 0 0;
}

.editor-zoom-2-0 {
	-ms-zoom: 2;
	-moz-transform: scale(2);
	-moz-transform-origin: 0 0;
	-o-transform: scale(2);
	-o-transform-origin: 0 0;
	-webkit-transform: scale(2);
	-webkit-transform-origin: 0 0;
}

.editor-zoom-button {
	width: 20px;
	height: 18px;
	border: 1px solid #aaa;
	border-radius: 2px;
}

.editor-zoom-button.scale-1-0 {
	background: 
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAQAAAD8x0bcAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfeBBIJAADkodWkAAAADGlUWHRDb21tZW50AAAAAAC8rrKZAAAAbklEQVQoz2NgGFHA3ycoCV2MEV0g6CQD2y+rLd+RxZhQlQSY/r/1fy1bMKoomiKmpP+L/i/+n4BHUSjH/2AGTSZfBg1fBWRxZmSOehgDM9Nxhk+M7xh1bxzA4bPA3YF6DAwMDKF8gTdCmYZBVAEAu48Z3VvlnKwAAAAASUVORK5CYII=)
		no-repeat left center;
}

.editor-zoom-button.scale-1-5 {
	background: 
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAQAAAD8x0bcAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfeBBIINiRQfMo3AAAADGlUWHRDb21tZW50AAAAAAC8rrKZAAAAgklEQVQoz2NgGALAgZmBEV2MGZXrKcL7XlP0xnZUUSZULkcMwxbGME82vIoYEv91M5xh98ejKMCIkWPjcYZFTEl4FDElMSxiYGDe9N8sSBpZHMknDuyCzxh+MfxlYGDgZ+xY14rV80FhgQchLH/LwNu4rEv8vxzC2HicgSnAnmHoAwD9xhsnXoFgMAAAAABJRU5ErkJggg==)
		no-repeat left center;
}

.editor-zoom-button.scale-2-0 {
	background: 
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAQAAAD8x0bcAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfeBBIIOR2I4V7wAAAADGlUWHRDb21tZW50AAAAAAC8rrKZAAAArElEQVQoz2NgGHyAGV0gUE8zVfXRrQ/IYiwY2qoYg1n5GUqRhZhQVbgLMgYw1DLEGrPgUcQZ9f/awx4GRjkvPIqYEhkWnf3DsJQhEaeiQD0G/T/LGBj+LWTw9hXD4TvNCkYFJmZNB0ZNBnPmt9ePw8QZEUpCWf8+Y9j//xkDAwMDowqD/DpdLEEWEBT0KZQDwvYSD/wTYIrFTUyJDOtX/4Cwt71k2MuUxDCIAQAODCeOI1ssKAAAAABJRU5ErkJggg==)
		no-repeat left center;
}

.description-notes-button {
	width: 20px;
	height: 18px; 
	border: 1px solid #aaa;
	border-radius: 2px;
	float: right;
	margin-left: 3px;
}

#descriptionNotesAddBtn {
	background: url(../resources/images/comment-add-icon.png) center center no-repeat;
}

#descriptionNotesBtn{
	background: url(../resources/images/comment-icon.png) center center no-repeat;
}

#descriptionNotesLast {
	font-weight: bold;
	font-style: italic;
	color: #666;
	padding-top: 2px;
	margin-right: 5px;
	float:right;
	text-overflow: ellipsis;
	max-width: 300px;
	white-space: nowrap;
	overflow: hidden;
	padding-right: 2px;
}

#descriptionNotes {
	margin: 5px 3px 20px 3px;
	width: 500px;
	height: 300px;
	overflow: auto;
}

.descriptionNote {
	margin: 10px;
}

.descriptionNote .noteInfo .user {
	font-size: 0.8em;
	font-weight: bold;
	color: #999;
}

.descriptionNote .noteInfo .time {
	font-size: 0.75em;
	color: #999;
	font-style: italic;
}

.descriptionNote .noteText {
	margin-top: 4px;
	font-style: italic;
	white-space: pre-wrap;
}

.noteDelete {
	margin-left: 5px;
}

.descriptionNote .deleteButton {
	width: 11px;
	height: 11px; 
	border: none;
	background:url(../resources/images/icon-trash.png) 0 0 no-repeat; 
	cursor:pointer;
}

.descriptionNote .confirmationNote {
	font-size: 0.8em;
	color: #a00;
}
			
#descriptionNoteInput:focus {
	outline: none;
}

.cmdLink {
	font-size:13px;
	color: #3C4850;
	font-weight:bold;
	text-decoration: none;
}
.notVisible{
	visibility: hidden;
}