.ui-datatable .ui-sortable-column-icon{
	left:-4px;
	float: right;
	position: relative;
	
}
.ui-datatable .ui-sortable-column span{
	margin-left:6px;
	text-shadow:0 1px #FFFFFF;
	font-weight:normal;
}
.ui-datatable .ui-column-filter{
	width:88%;
}
.ui-datatable .ui-datatable-data td, .ui-datatable .ui-datatable-data-empty td{
	border-right:1px dotted #bababa;
	border-left: none;
	border-top: none;
	border-bottom: none;

}
.ui-datatable .ui-column-filter{
	width:96%;
}
.ui-datatable-odd{
	background-color:#fcfcfc;
}
.ui-datatable-even{
	background-color:#F5F5F5;
}
.ui-datatable .ui-paginator, .ui-datatable .ui-paginator{
	font-weight: normal;
}
.silver .ui-colorpicker-container {
background-image: url("../resources/images/silver_background.png");
}
.silver .ui-colorpicker_hex {
background-image: url("../resources/images/silver_hex.png");
}
.silver .ui-colorpicker_rgb_r {
background-image: url("../resources/images/silver_rgb_r.png");
}
.silver .ui-colorpicker_rgb_g {
background-image: url("../resources/images/silver_rgb_g.png");
}
.silver .ui-colorpicker_rgb_b {
background-image: url("../resources/images/silver_rgb_b.png");
}
.silver .ui-colorpicker_hsb_s {
background-image: url("../resources/images/silver_hsb_s.png");
}
.silver .ui-colorpicker_hsb_h {
background-image: url("../resources/images/silver_hsb_h.png");
}
.silver .ui-colorpicker_hsb_b {
background-image: url("../resources/images/silver_hsb_b.png");
}
.silver .ui-colorpicker_submit {
background-image: url("../resources/images/silver_submit.png");
}
.ui-dialog {
	width: auto !important;
	margin:0;
	padding:0;
}
.ui-dialog-content{
	padding:0 !important;
	background-color: #EEEEEE !important;
	max-height: 650px;
	overflow-y: auto;
}
.dateFilter input{
	width:110px;
}

.ui-widget{
	font-size:13px;
	font-family:Arial,Helvetica,sans-serif !important;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{
	font-size:13px;
	font-family:Arial,Helvetica,sans-serif !important;
}

/*
.ui-widget-overlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 800 !important;
}*/

div.menu > .ui-menu {
	/*font-size: 13px !important;*/
	background: none;
	display:table-cell;
	vertical-align:middle;
	text-decoration:none;
	/*color:#fff;
	text-shadow: 0 1px #000;*/
	padding:0 20px;
	height:45px;
	border:none;
}
div.menu > .menu ul.ui-menu-child{
	background-color: #fff;	
	background-image: none;
}
div.menu > .ui-menu>ul>li>a{
	color: #FFFFFF;
	font-weight: bold !important;
	line-height:40px !important;
	text-shadow: 0 1px #000;
}
div.menu > .ui-menu>ul>li>a>span.ui-menuitem-text{
	margin-left:13px;
	padding-right:13px;
	
}
div.menu > .ui-menu>ul>li>a>span.ui-icon{
	width:0;
	background: none !important;
}

div.menu > .ui-menu>ul>li>a{
	background:url(../resources/images/head-split.png) 0 0 no-repeat;
}
div.menu > .ui-menu>ul>li>a.ui-state-hover{
	background:url(../resources/images/head-act.png) 0 0 repeat-x;
	text-shadow: 0 1px #000;
	box-shadow:none;
	color: #FFFFFF;
	border: 1px solid transparent;
	width: 100%;
	height: 100%;
	border-radius:0;
}
div.menu > .ui-menu li a{
	padding: 1px !important;
	margin: 0px !important;
}
div.menu > .ui-menu-child{
	width:250px !important;
}
ul.ui-autocomplete {
	
}
ul.ui-autocomplete  > li {
	list-style:none;
	font-size: 13px;
	
}
ul.ui-autocomplete  > li:hover{
	
	border: 0px;
}
ul.ui-autocomplete  > li > a {
	list-style:none;
	font-size: 13px;
	padding-left:5px;
	padding-top:4px;
	padding-bottom:3px;
	border-radius:0px;
	box-shadow:none;
}
ul.ui-autocomplete  > li > a:hover{
	
	border: 0px;
}
.ui-paginator>select{
	height: 22px;
}
.adminAddTable .ui-datatable-footer{
	text-align: left;
}
a.ui-menuitem-link{
	width:98% !important;
}
ul.ui-menu-list{
	padding:0 !important;
	z-index:6000 !important;
}
.ui-menuitem-text{
	padding-left:5px !important;
}
.ui-inputfield.ui-state-focus{
	box-shadow:0 0 10px #85B2CB !important;
}
.ui-growl{
	left:46%;
}
.ui-widget-content select.ui-state-error, select.ui-state-error{
	background:url(../resources/images/sel-bg.png) 0 bottom repeat-x #fff;
	color:#3C4850;
}
div.ui-layout-unit-content{
	background: none;
}
.ui-dialog{
	max-width:1000px;
}
.ui-inplace>.ui-state-highlight{
	background: none;
	border: none;
	color: #3C4850;
	text-shadow: none;
}
.statusOverlayPanel .tb2col tr + tr {
	border: 0px !important;
}
.ui-blockui{
	z-index:5000;
}
.ui-datepicker {
 	clip: auto !important;
}
.ui-autocomplete .ui-menu-item a {
	width: 100%;
	display: inline-block;
}

.ui-accordion-header { padding: 5px 5px 5px 25px;}

.fileupload-buttonbar .ui-button input{
	z-index:inherit;
}

.pmbutaction{
	display:block;
	text-align:center;
	text-decoration:none;
	float:right;
	background:url(../resources/images/but-action.png) 0 0 no-repeat !important;
}

.pmbutaction:hover{
	background:url(../resources/images/but-action-ro.png) 0 0 no-repeat !important;
}


.pmbutnav{
	cursor:pointer;
	width:180px;
	height:35px;
	vertical-align:top;
	border:none !important;
	font-size:14px !important;
	/*text-shadow:0 1px #FFFFFF;*/
	color: #3C4850 !important;
	font-weight:bold !important;
	border-radius:0px !important;
	box-shadow:none !important;
}

.pmbutgrayaction{
	display:block;
	text-align:center;
	text-decoration:none;
	float:right;
	background:url(../resources/images/but-grey.png) 0 0 no-repeat !important;
}
.pmbutgrayaction:hover{
	background:url(../resources/images/but-grey-ro.png) 0 0 no-repeat !important;
}
