<kendo-tabstrip keepTabContent="true" style="margin-top:3px;" class="normal-tab">

  <kendo-tabstrip-tab selected="true">
    <ng-template kendoTabTitle>
      <div>
        <div>Dane biometryczne</div>
      </div>
    </ng-template>
    <ng-template kendoTabContent>
      <div class="col-12" style="margin-top:0.5%;margin-bottom:3px;  width:100%; height:50%">
        <app-charts></app-charts>
      </div>
    </ng-template>
  </kendo-tabstrip-tab>

  <kendo-tabstrip-tab>
    <ng-template kendoTabTitle>
      <div>
        <div>Alerty</div>
      </div>
    </ng-template>
    <ng-template kendoTabContent>
      <div class="col-12" style="margin-top:0.5%;margin-bottom:3px;">
        <app-alerts></app-alerts>
      </div>
    </ng-template>
  </kendo-tabstrip-tab>

  <kendo-tabstrip-tab>
    <ng-template kendoTabTitle>
      <div>
        <div>Konfiguracja</div>
      </div>
    </ng-template>
    <ng-template kendoTabContent>
      <div class="col-12" style="margin-top:0.5%;margin-bottom:3px;">
        <app-config></app-config>
      </div>
    </ng-template>
  </kendo-tabstrip-tab>



</kendo-tabstrip>
