<div *ngIf="loading" class="k-overlay">
    <p class="container-center" style="font-size:25px; top:43%; color:white;">{{loadingTitle}}</p>
    <span class="container-center k-icon k-i-loading" style="font-size: 64px; color:white;"></span>
</div>  
<router-outlet></router-outlet>