<div style="display: block;">
  <p>Data od:</p>
  <kendo-datepicker (ngModelChange)="prepareData(true)" [(ngModel)]="dateFrom" [(value)]="dateFrom" [format]="'yyyy-MM-dd HH:mm'"></kendo-datepicker>
  <p>Data do:</p>
  <kendo-datepicker (ngModelChange)="prepareData(true)" [(ngModel)]="dateTo"  [(value)]="dateTo" [format]="'yyyy-MM-dd HH:mm'"></kendo-datepicker>
  <input kendoTextBox [(ngModel)]="dateFormat" />
  <button *ngIf="!dateSetStatus"  kendoButton (click)="dateSet()" [look]="'bare'">Start</button>
  <canvas #chart baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
    [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>


</div>
