<div class="row align-items-center" style="margin-top:1%;">
  <div class="col-1">
    <span>Adres serwera</span>
  </div>
  <div class="col-5">
    <input kendoTextBox [(ngModel)]="apiService.url" style="width:350px" />
  </div>
</div>

<div class="row align-items-center" style="margin-top:1%;">
  <div class="col-1">
    <span>Częstość pobierania</span>
  </div>
  <div class="col-5">
    <input kendoTextBox [(ngModel)]="apiService.delay" style="width:350px"/>s
  </div>
</div>